.bg-navColor {
  background-color: #c3cbf3;
}

#navLinks {
  font-size: 19px;
  color: white;
}

#carouselItem {
  margin: auto;
  width: 60%;
}
.carousel-indicators{
  margin-top: 20px;
}

#mainHeader{
  color: #e1fcde;
  margin-top: 60px;
}
.replacement {
  font-size: 30px;
  color: #fff;
}
